body{
    margin-left: 0.5% !important; margin-right: 0.5% !important;
    background-color: black !important; 
}

.carousel-btn{
    color: red !important;
}

.carousel{
    box-shadow: 0 0 15px rgba(0, 0, 0, 1); /* Dark faded effect */
    filter: brightness(60%); /* Dark faded effect */
    width: 100%;
    height:60vh;
}

.carousel img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.carousel-island {
    width: 80px;  
    height: 80px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 10; 
}

.carousel-island img {
    width: 100%; 
    height: 100%;
    object-fit: contain;
}

/* cards */

.card,.card-2,.card-3,.card-4{
    position:relative;
}

.card, .card-3{
    border: none !important;
    bottom: 10px;
    flex-direction: row !important;
}

.card-body{
    width:50% !important;
    padding: 2% !important;
    text-align: center;
    overflow: hidden;
    background-color: var(--HTlred) !important;
}

.card-body button{
    background-color: var(--HTlred) !important;
    color: white !important;
    border: 1px solid white !important;
    padding: 5px 10px !important;
    margin-top: 10px !important;
}

.card-2, .card-4{
    display: flex;
    bottom:10px;
    flex-direction: row-reverse !important;   
}



#card-img-1, #card-img-2, #card-img-3, #card-img-4{
    width: 50% !important;
    height: 100% !important;
    object-fit: cover !important;
    overflow: hidden;
}


