@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --HTgreen: #80E27E;
    --HTblue: #D2F1FE;
    --HTstone: #E6ECDD;
    --HTorange: #FF5B25;
    --HTred: #C1663C;
    --HTlred: #F6CB8D;
}




